body {
    background-color: #0a1621;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* Prevents body scroll, we will handle it within the container */
}

.container {
    background-color: #091b27;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 320px;
    height: 90vh;
    /* Adjust as needed */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.profile-pic {
    background-image: url('./avatar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 17px;
    color: #b7b7b7;
    margin-bottom: 15px;
}

#pair-container {
    flex: 1, auto, auto;

    overflow-y: auto;
    /* Allows vertical scrolling */
    padding-right: 10px;
    /* Prevents content from hiding behind scrollbar */
}

.pair-entry {
    margin-bottom: 15px;
    text-align: left;
}

.pair-entry label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.pair-entry input[type="text"],
.pair-entry input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #0a1621;
    color: #b7b7b7;
    font-size: 16px;
}

.pair-entry input[type="number"] {
    width: calc(100%);


}

.pair-entry .remove-pair-btn {
    background-color: #912f49;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    width: 12.5%;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.pair-entry .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pair-entry .divider {
    height: 1px;
    background-color: rgba(183, 183, 183, 0.3);
    margin: 10px 0;
}

.remove-pair-btn {

    background-color: #912f49;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

.remove-pair-btn:hover {
    background-color: #88283a;
    transform: scale(0.95);
    transition-duration: 0.3s;
}

.remove-pair-btn:active {
    background-color: #901a2f;
    transform: scale(0.9);

}

.add-pair-btn,
.save-changes-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 16px;
}

.add-pair-btn {
    background-color: #247648;
    color: #ffffff;
    width: 12.5%;

}

.add-pair-btn:hover {
    background-color: #256542;
    /* Slightly lighter color for visual feedback */
    transform: scale(0.95);
    transition-duration: 0.3s;
    /* Slightly smaller to indicate click */
}

.add-pair-btn:active {
    background-color: #1b5736;
    /* Slightly lighter color for visual feedback */
    transform: scale(0.9);
    /* Slightly smaller to indicate click */
}


.save-changes-btn {
    background-color: #3c6895;
    color: #ffffff;
    width: 35%;
}

.save-changes-btn:hover {
    background-color: #2c5e88;
    /* Slightly lighter color for visual feedback */
    transform: scale(0.98);
    transition-duration: 0.3s;
    /* Slightly smaller to indicate click */
}

.save-changes-btn:active {
    background-color: #1e4464;
    /* Slightly lighter color for visual feedback */
    transform: scale(0.9);

    /* Slightly smaller to indicate click */
}


.btn-container {

    text-align: center;
    margin-top: 10px;

    /* Adjusted spacing */
}

.alarms-label {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Autocomplete styles */
.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}


.autocomplete input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #0a1621;
    color: #b7b7b7;
    margin-left: 15px;
    margin-bottom: 5px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #4a4a4ac6;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #0a1621;
    color: #b7b7b7;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:last-child {
    border-bottom: none;
}

.autocomplete-items div:hover {
    background-color: #1a2b3c;
    color: #ffffff;
}

.autocomplete-active {
    background-color: #1a2b3c;
    color: #ffffff;
}